@import url("reset.css");

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2"),
    url("Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

/* a {
  text-decoration: none;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: #ffffff;
}

/* .svg-hidden {
  position: absolute;
  z-index: -10;
  width: 0;
  height: 0;
  opacity: 0;
} */

/************************************************/



.BG {
  background: url('/images/BG.png')  center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.BG::before {
  content: '';
  background: #000000;
  opacity: .4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.main-side {
  max-width: 500px;
  background: rgba(233, 233, 233, .6);
  margin-left: auto;
  overflow: scroll;
  padding: 60px 0 60px 0;
}

/*******   #153416;   **********/

.main-side-in {
  max-width: 340px;
  margin: 0 auto;
  background:transparent;
  opacity: 1;
}

.check-in input {
  position: absolute;
  z-index: -9;
  opacity: 0;
}

.check-in input + label {
  width: 340px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #153416;
  border-radius: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.check-in span {
  position: relative;
  flex: 1 1 50%;
}

/* .check-in input + label {
  flex: 1 1 50;
} */

.check-in input + label::before {
  content: '';
  width: 168px;
  height: 32px;
  background: #153416;
  border-radius: 30px;
  position: absolute;
  left: 1px;
  top: 1px;
  transition: .6s linear;
}

.check-in input:checked + label::before {
  left: calc(100% - 169px);
}


